.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.incorrect {
  background-color:pink
}

.correct {
  background-color:lightgreen
}

.prompt.input-frame  {
  border: solid 3px blue;
}

.challenge {
  font-weight: bold;
  font-size: 2em;
}

.challengeSpan {
  align-items: flex-start;
  width: 2em;
  margin :0.3em;

}

input[type="button" i]:disabled {
  color: black;
}

input[type="button" i] {
  padding:0;
  margin:5px;
}

.input-frame {
  border: solid 1px black;
}

input[type=button] {
  font-weight: bold;
  font-size: 2em;
  margin:8px;
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}

body {
  margin: 40px;
}

.wrapper {
  display: grid;
  grid-template-columns: 150px 200px 350px;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.box {
  border: solid 3px black;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.vowelsRounded {
  color: red !important;
}